body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
    
}


.header{
    
  background-image: url(../images/donation13.jpg); 
  background-repeat: no-repeat;
 background-position: center;
  background-size:cover;
  height: 500px;
  width: 100%;
  
}
.first-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
      
}
#color-white{
    color:white;
    text-align: center;
}


.first-container p{
    color: #ffff;
    text-align: center;

}
.button-link {
    text-decoration: none;
    color: #ffff;
    background: #FF5959;
    padding:5px 10px;
    margin-left: 280px;
    border-radius: 5px;
    
}
.donate-today{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#color-black{
    color: black;
}
.donate-today h1{
    text-align: center;
}
.money{
    display: flex;
}
.tk{
    background-color: #FAFAFA;
    
    margin-left: 40px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}
#red{
    border:1px solid red;
}
.other-tk{
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
.donation-plan{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.plan p{
    text-align: center;
}
.donation-plan h1{
    text-align: center;
}
.plan{
    display: flex;
}
.list{
    
    
    margin-left: 10px;
    padding: 10px;
}
.list p{
    text-align: left;
}
.list img{
    height: 50px;
    width: 50px;
    width: 50%;
    padding: 10px;
    margin-left: 5px;
    left:-5px;
}
#A{
    background:rgba(79, 157, 166, 0.1);
}
#B{
    background:rgba(255, 89, 89, 0.1);
}
#C{
    background: #FFF4D6;
}
.donation-01{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 15px;
   
}
.donation-02{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 15px;
}
.half{
    
    padding: 10px;
}
.half a{
    text-decoration: none;
    color:white;
    font-weight: 700;
    background-color: tomato;
    padding: 5px 15px;
    border-radius: 5px;
}
#size{
    font-size: 20px;
}
.half img{
    width: 340px;
    height:100%
}
footer{
    text-align: center;
    color: yellow;
    background: black;
}
.section-03{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.section-03 h1{
    text-align: center;
}
#lorem{
    text-align: center;
}
.section-03{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}
.e{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border: 2px solid red;
}

.e #email{
    text-align: left;
    padding:5px 50px;
    background-color: blue;
}
.email-section{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 70px;
    background-color: #FFF4D6;
    border-radius: 10px;
   
}/*
.email{
    margin-left: 40px;
    
}
#e{
    padding: 5px 40px 5px 2px;
    background-color: #D9D9D9;
}
#s{

}*/
.email-form{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #D9D9D9;

}
.email{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: #D9D9D9;
}
#e{
    padding: 5px;
    font-weight: 700;
    
}
#s{
    padding: 5px;
    margin-left: 91px;
    color:white;
    font-weight: 700;
    background-color: #FF5959;
}

